body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(53, 89, 136);
}

.contenedor{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.fade-in{
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode:forwards;
}

@keyframes slideIn{
    from{
        transform: translateX(-500px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
        background-color: blueviolet;
    }
}


.slide-in{
    animation: slideIn 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
        background-color: aqua;
    }
}

.rotate{
    animation: girar 1s linear;
    animation-iteration-count: infinite;

}

@keyframes rebote {

    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-40px);
        background-color: blueviolet;
    }
    100%{
        transform: translateY(0);
    }
}

.rebound{
    animation: rebote 0.5s ease-in infinite;
}

.boton{
    padding: 15px;
    background-color: blue;
    transition: background-color 0.3s ease, transform 0.3 ease;
}

.boton:hover{
    background-color: aqua;
    transform: scale(1.1);
}

.caja {
    width: 150px;
    height: 200px;
    background-color: rgb(128, 14, 14);
    color: white;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}