*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-grid{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 5px 5px;
    background-color: rgb(88,86,86);
    color: antiquewhite;
    gap: 20px;
}

